<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Quản lý Tài Sản CNTT</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800|Oswald:300,400,500&display=swap&subset=vietnamese"
          rel="stylesheet" />

    <link rel="stylesheet" href="fontawesome-free-5.10.2-web/css/all.css" />

    <link rel="stylesheet" href="Content/main.css" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="Scripts/jquery-3.4.1.min.js"></script>
    <script src="Scripts/jquery-ui.js"></script>
    <script src="Scripts/main.js"></script>
</head>
<body>
    @*@{
            Html.RenderPartial("_HeaderNavBar");
        }*@
    @Html.Partial("_HeaderNavBar")
    @RenderBody()
    <footer>
        <div class="container footer">
            <div class="img">
                <img src="Images/logo.png" alt="Logo KienLongBank" />
            </div>

            <div class="info">
                <h5>Ngân hàng TMCP Kiên Long (Kienlongbank)</h5>
                <p>
                    Hội sở: 40-42-44 Phạm Hồng Thái, P.Vĩnh Thanh Vân, Tp.Rạch Giá,
                    T.Kiên Giang Tp. HCM: 98-108A Cách Mạng Tháng 8, P.7, Q.3, Tp.HCM
                </p>
                <p>Điện thoại: (0297) 3869 950 hoặc (028) 3933 3393</p>
                <p>
                    Hotline gọi trong lãnh thổ Việt Nam: 1900 6929
                </p>
                <p>Hotline gọi từ nước ngoài về Việt Nam: (+84) 287309 6929</p>
                <p>Mã SWIFT: KLBKVNVX</p>
                <p>
                    Email: kienlong@kienlongbank.com hoặc
                    chamsockhachhang@kienlongbank.com
                </p>
            </div>
            <div class="lien-ket">
                <h5>Liên kết nhanh</h5>
                <div class="icon">
                    <a href=""><i class="fas fa-mobile-alt"></i></a>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="Scripts/jquery-3.4.1.min.js"></script>
    <script src="Scripts/jquery-ui.js"></script>
    <script src="Scripts/main.js"></script>
    <script>
        $('.nav-icon').click(function () {
            $('.nav-icon').toggleClass('nav-close');
            $('.nav').toggleClass('d-none');
            $('header').toggleClass('header-show');
            $('.navbar').toggleClass('navbar-show');
        });
        $(".toggle").click(function (e) {
            e.preventDefault();

            var $this = $(this);

            if ($this.next().hasClass("show")) {
                $this.next().removeClass("show");
                $this.next().slideUp();
            } else {
                $this
                    .parent()
                    .parent()
                    .find("li .inner")
                    .removeClass("show");
                $this
                    .parent()
                    .parent()
                    .find("li .inner")
                    .slideUp();
                $this.next().toggleClass("show");
                $this.next().slideToggle();
            }
        });
    </script>
</body>
</html>

