@model IEnumerable<Source.Models.NHAT_KY_THIET_BI>

@{
    ViewBag.Title = "Index";
}

<main>
    <div class="container link">
        <p>Trang chủ > Báo cáo > Nhật ký thiết bị</p>
        <hr />
    </div>
    <section class="container" id="nk-tb">
        <h1 class="title">NHẬT KÝ THIẾT BỊ</h1>
        @using (Html.BeginForm("Index", "NhatKyThietBi", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="search">
                <input class="form-control"
                       type="text"
                       id="SEARCH_STRING"
                       name="SEARCH_STRING"
                       placeholder="Nhập tên thiết bị" />
                <button type="submit" class="btn-search">
                    <span><i class="fas fa-search"></i></span>
                </button>
            </div>
            if (ViewBag.MATB != null)
            {
                <div class="thong-tin-tb">
                    <p class="ten-tb">Tên thiết bị: @ViewBag.TENTB</p>
                    <p>Mã thiết bị: @ViewBag.MATB</p>
                </div>
            }
        }

        <div class="nk-tb">
            <table>
                <tr>
                    <th>Mã thiết bị</th>
                    <th>Tên thiết bị</th>
                    <th>Số lượng</th>
                    <th>Đơn vị thực hiện</th>
                    <th>Người thực hiện</th>
                    <th>Ngày thực hiện</th>
                    <th>Tình trạng</th>
                </tr>
                @*@if (ViewBag.MATB != null)
                {*@
                    @foreach (var item in Model)
                    {
                        if (item.MA_NHAP_KHO != null)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NHAP_KHO.THIETBI.MATB)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NHAP_KHO.THIETBI.TENTB)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NHAP_KHO.SO_LUONG)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NHAP_KHO.DON_VI.TEN_DON_VI)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NHAP_KHO.NGUOI_DUNG.TEN_ND)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NHAP_KHO.NGAY_NHAP)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TINH_TRANG)
                                </td>
                            </tr>
                        }
                        else if (item.MA_XUAT_KHO != null)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.XUAT_KHO.THIETBI.MATB)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.XUAT_KHO.THIETBI.TENTB)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.XUAT_KHO.SO_LUONG)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.XUAT_KHO.DON_VI.TEN_DON_VI)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.XUAT_KHO.NGUOI_DUNG.TEN_ND)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.XUAT_KHO.NGAY_XUAT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TINH_TRANG)
                                </td>
                            </tr>
                        }
                        else if (item.MA_DIEU_CHUYEN != null)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DIEU_CHUYEN_THIET_BI.THIETBI.MATB)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DIEU_CHUYEN_THIET_BI.THIETBI.TENTB)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DIEU_CHUYEN_THIET_BI.SO_LUONG)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DIEU_CHUYEN_THIET_BI.DON_VI1.TEN_DON_VI)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DIEU_CHUYEN_THIET_BI.NGUOI_DUNG1.TEN_ND)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DIEU_CHUYEN_THIET_BI.NGAY_DIEU_CHUYEN)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TINH_TRANG)
                                </td>
                            </tr>
                        }
                        else if (item.MA_XAC_NHAN != null)
                        {
                            if (item.XAC_NHAN_DIEU_CHUYEN.MA_XUAT_KHO != null)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.XAC_NHAN_DIEU_CHUYEN.XUAT_KHO.THIETBI.MATB)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.XAC_NHAN_DIEU_CHUYEN.XUAT_KHO.THIETBI.TENTB)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.XAC_NHAN_DIEU_CHUYEN.XUAT_KHO.SO_LUONG)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.XAC_NHAN_DIEU_CHUYEN.XUAT_KHO.DON_VI.TEN_DON_VI)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.XAC_NHAN_DIEU_CHUYEN.NGUOI_DUNG.TEN_ND)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.XAC_NHAN_DIEU_CHUYEN.THOI_GIAN_XAC_NHAN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TINH_TRANG)
                                    </td>
                                </tr>
                            }
                            else if (item.XAC_NHAN_DIEU_CHUYEN.MA_DIEU_CHUYEN != null)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.XAC_NHAN_DIEU_CHUYEN.DIEU_CHUYEN_THIET_BI.THIETBI.MATB)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.XAC_NHAN_DIEU_CHUYEN.DIEU_CHUYEN_THIET_BI.THIETBI.TENTB)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.XAC_NHAN_DIEU_CHUYEN.DIEU_CHUYEN_THIET_BI.SO_LUONG)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.XAC_NHAN_DIEU_CHUYEN.DIEU_CHUYEN_THIET_BI.DON_VI1.TEN_DON_VI)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.XAC_NHAN_DIEU_CHUYEN.NGUOI_DUNG.TEN_ND)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.XAC_NHAN_DIEU_CHUYEN.THOI_GIAN_XAC_NHAN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TINH_TRANG)
                                    </td>
                                </tr>
                            }

                        }
                    }
                @*}*@
            </table>
        </div>
    </section>
</main>


@*<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Script/get_TRANG_THAI",
            data: "{}",
            success: function (data) {
                var s = '<option disabled selected value>Xin chọn trạng thái thiết bị</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i] + '">' + data[i] + '</option>';
                }
                $("#TINH_TRANG").html(s);
            }
        });
    });
</script>*@



