@model IEnumerable<Source.Models.XAC_NHAN_DIEU_CHUYEN>


<main>
    <div class="container link">
        <p>Trang chủ > Báo cáo > Xác nhận điều chuyển</p>
        <hr />
    </div>
    <section class="container" id="xn-dc">
        <h1 class="title">XÁC NHẬN ĐIỀU CHUYỂN</h1>
        <h4 class="sub-title">
            Danh sách thiết bị đã xác nhận
        </h4>
        @using (Html.BeginForm("Index", "XacNhanDieuChuyen", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="search">
                <input class="form-control"
                       type="text"
                       id="SEARCH_STRING"
                       name="SEARCH_STRING"
                       placeholder="Nhập tên thiết bị" />
                <button type="submit" class="btn-search">
                    <span><i class="fas fa-search"></i></span>
                </button>
            </div>
        }
        <div class="xn-dc">
            <table>
                <tr>
                    <th>Mã TB</th>
                    <th>Tên TB</th>
                    <th>ĐV thực hiện</th>
                    <th>ĐV nhận</th>
                    <th>Ghi chú</th>
                    <th>Người xác nhận</th>
                    <th>Thời gian xác nhận</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr class="xn">
                        @if (item.MA_XUAT_KHO != null)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.XUAT_KHO.MATB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.XUAT_KHO.THIETBI.TENTB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.XUAT_KHO.DON_VI.TEN_DON_VI)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.XUAT_KHO.DON_VI1.TEN_DON_VI)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.XUAT_KHO.GHI_CHU)
                            </td>
                        }
                        @if (item.MA_DIEU_CHUYEN != null)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.DIEU_CHUYEN_THIET_BI.MATB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DIEU_CHUYEN_THIET_BI.THIETBI.TENTB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DIEU_CHUYEN_THIET_BI.DON_VI.TEN_DON_VI)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DIEU_CHUYEN_THIET_BI.DON_VI1.TEN_DON_VI)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DIEU_CHUYEN_THIET_BI.GHI_CHU)
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.MAND_XAC_NHAN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.THOI_GIAN_XAC_NHAN)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </section>
</main>