@model IEnumerable<Source.Models.DON_VI>

@{
    ViewBag.Title = "Index";
}

<main>
    <div class="container link">
        <p>Trang chủ > Danh mục > Đơn vị</p>
        <hr />
    </div>
    <section class="container" id="don-vi">
        <h1 class="title">ĐƠN VỊ</h1>
        <div class="div-don-vi">
            <div class="them-don-vi">
                <h4 class="sub-title">
                    Thêm đơn vị
                </h4>
                @using (Html.BeginForm("Index", "DonVi", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <form action="">
                        <div class="form-group">
                            <input class="form-control"
                                   id="MA_DON_VI"
                                   name="MA_DON_VI"
                                   aria-describedby="emailHelp"
                                   placeholder="" hidden="hidden"/>
                        </div>
                        <div class="form-group">
                            <label for="">Tên ĐV:</label>
                            <input class="form-control"
                                   id="TEN_DON_VI"
                                   name="TEN_DON_VI"
                                   aria-describedby="emailHelp"
                                   placeholder="" />
                        </div>
                        <div class="form-group">
                            <label for="">Địa chỉ:</label>
                            <input class="form-control"
                                   id="DIA_CHI"
                                   name="DIA_CHI"
                                   aria-describedby="emailHelp"
                                   placeholder="" />
                        </div>
                        <div class="form-group">
                            <label for="">ĐV cấp trên:</label>
                            <select class="form-control" id="DON_VI_CAP_TREN" name="DON_VI_CAP_TREN"></select>
                        </div>
                        <div class="form-group">
                            <label for="">Điện thoại:</label>
                            <input type="number"
                                   class="form-control"
                                   id="DIEN_THOAI"
                                   name="DIEN_THOAI"
                                   aria-describedby="emailHelp"
                                   placeholder="" />
                        </div>
                        <div class="form-group">
                            <label for="">Fax:</label>
                            <input class="form-control"
                                   id="FAX"
                                   name="FAX"
                                   aria-describedby="emailHelp"
                                   placeholder="" />
                        </div>

                        @if (ViewBag.ErrorMessage != null)
                        {
                            <p style="color: red">@ViewBag.ErrorMessage</p>
                        }

                        <button type="submit" id="SAVE" name="SAVE" value="save" class="them">THÊM</button>
                        <button type="submit" id="EDIT" name="EDIT" value="edit" class="them" hidden="hidden">SỬA</button>
                        <button type="submit" id="CANCEL" name="CANCEL" value="cancel" class="them" hidden="hidden">HỦY</button>
                    </form>
                }
            </div>
            <div class="ds-dv">
                <h4 class="sub-title">
                    Danh sách đơn vị
                </h4>
                <table>
                    <tr>
                        <th>Mã ĐV</th>
                        <th>Tên đơn vị</th>
                        <th>ĐV cấp trên</th>
                        <th>Địa chỉ</th>
                        <th>Điện thoại</th>
                        <th>Fax</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr class="tablinks" onclick="btn_Edit(event, '@item.MA_DON_VI')">
                            <td>
                                <span id="@item.MA_DON_VI" class="btn_edit" onclick="Edit('@item.MA_DON_VI')"><i class="far fa-edit"></i></span>
                                @Html.DisplayFor(modelItem => item.MA_DON_VI)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TEN_DON_VI)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DON_VI2.TEN_DON_VI)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DIA_CHI)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DIEN_THOAI)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FAX)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </section>
</main>

<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Script/get_DONVI",
            data: "{}",
            success: function (data) {
                var s = '<option value="">Xin chọn đơn vị</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i] + '">' + data[i] + '</option>';
                }
                $("#DON_VI_CAP_TREN").html(s);
            }
        });
    });

    function Edit(row) {
        $.ajax({
            type: "GET",
            url: "/Script/get_ThongTinDonVi",
            data: { ma_DON_VI: row },
            success: function (data) {
                $("#MA_DON_VI").val(row);
                $("#TEN_DON_VI").val(data.TEN_DON_VI);
                $("#DON_VI_CAP_TREN").val(data.DON_VI_CAP_TREN);
                $("#DIA_CHI").val(data.DIA_CHI);
                $("#DIEN_THOAI").val(data.DIEN_THOAI);
                $("#FAX").val(data.FAX);
            }
        });
        document.getElementById("EDIT").hidden = false;
        document.getElementById("CANCEL").hidden = false;
        document.getElementById("SAVE").hidden = true;
    }
</script>