@model IEnumerable<Source.Models.NHOM_NGUOI_DUNG>

@{
    ViewBag.Title = "Index";
}

<main>
    <div class="container link">
        <p>Trang chủ > Quản lý người dùng > Nhóm người dùng</p>
        <hr />
    </div>
    <section class="container" id="nhom-nd">
        <h1 class="title">NHÓM NGƯỜI DÙNG</h1>
        <div class="div-nhom-nd">
            <div class="them-nhom-nd">
                <h4 class="sub-title">
                    <span id="them-sua">Thêm</span> nhóm người dùng
                </h4>
                <div id="ErrorMessage">
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <p id="tb-sm">@ViewBag.ErrorMessage</p>
                    }
                </div>
                @using (Html.BeginForm("Index", "NhomNguoiDung", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mã nhóm người dùng</label>
                            <input class="form-control"
                                   id="MA_NHOM"
                                   name="MA_NHOM"
                                   aria-describedby="emailHelp"
                                   placeholder="" />
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Tên nhóm người dùng</label>
                            <input class="form-control"
                                   id="TEN_NHOM"
                                   name="TEN_NHOM"
                                   aria-describedby="emailHelp"
                                   placeholder="" />
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Ghi chú</label>
                            <textarea class="form-control"
                                      id="GHI_CHU"
                                      name="GHI_CHU"
                                      aria-describedby="emailHelp"
                                      placeholder=""></textarea>
                        </div>



                        @if (ViewBag.Them != null)
                        {
                            <button type="submit" id="SAVE" name="SAVE" value="save" class="them">THÊM</button>
                        }
                        @if (ViewBag.Sua != null)
                        {
                            <button type="submit" id="EDIT" name="EDIT" value="edit" class="sua d-none">SỬA</button>
                            <button class="reset d-none">HỦY</button>
                        }
                    </form>
                }
            </div>
            <div class="ds-nnd">
                <h4 class="sub-title">
                    Danh sách Nhóm người dùng
                </h4>
                <table>
                    <tr>
                        <th>Mã nhóm ND</th>
                        <th>Tên nhóm</th>
                        <th>Ghi chú</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr class="tablinks" onclick="btn_Edit(event, '@item.MA_NHOM')">
                            <td>
                                <span id="@item.MA_NHOM" class="btn_edit" onclick="Edit('@item.MA_NHOM')"><i class="far fa-edit"></i></span>
                                @Html.DisplayFor(modelItem => item.MA_NHOM)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TEN_NHOM)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GHI_CHU)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </section>
</main>

<script>
    function Edit(row) {
        $.ajax({
            type: "GET",
            url: "/Script/get_THONG_TIN_NHOM_ND",
            data: { mA_NHOM: row },
            success: function (data) {
                $("#MA_NHOM").val(row);
                $("#TEN_NHOM").val(data.TEN_NHOM);
                $("#GHI_CHU").val(data.GHI_CHU);
            }
        });
        document.getElementById("MA_NHOM").setAttribute("readonly", "readonly");
    }
</script>
