@model IEnumerable<Source.Models.THIETBI>

@{
    ViewBag.Title = "Index";
}


<main>
    <div class="container link">
        <p>Trang chủ > Báo cáo > Danh sách thiết bị</p>
        <hr />
        <h2>@ViewBag.HINH_ANH</h2>
    </div>
    <section class="container" id="ds-tb">
        @using (Html.BeginForm("Index", "DanhSachThietBi", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <h1 class="title">DANH SÁCH THIẾT BỊ</h1>
            <div class="search">
                <input type="text"
                       name="SEARCH_STRING"
                       class="placeholder"
                       placeholder="Nhập tên thiết bị" />
                <button type="submit" class="btn-search">
                    <span><i class="fas fa-search"></i></span>
                </button>
            </div>
            <div class="loc">
                <h4><i class="fas fa-filter"></i></h4>
                <div class="div-filter">
                    <div class="filter1">
                        <div class="filter">
                            <label for="">Nhóm TB</label>
                            @Html.DropDownList("MA_NHOMTB", null, "Tất cả", new
                                {
                                    @class = "form-control",
                                    @placeholder = "",
                                    @onchange = @"form.submit()"
                                })
                            @*<select class="form-control" id="MA_NHOMTB" name="MA_NHOMTB" onchange="form.submit()"></select>*@
                        </div>
                        <div class="filter">
                            <label for="">Loại TB</label>
                            @Html.DropDownList("MA_LOAITB", null, "Tất cả", new
                                {
                                    @class = "form-control",
                                    @placeholder = "",
                                    @onchange = @"form.submit()"
                                })
                            @*<select class="form-control" id="MA_LOAITB" name="MA_LOAITB" onchange="form.submit()"></select>*@
                        </div>
                    </div>
                    <div class="filter2">
                        <div class="filter">
                            <label for="">Đơn vị</label>
                            @Html.DropDownList("MA_DON_VI", null, "Tất cả", new
                                {
                                    @class = "form-control",
                                    @placeholder = "",
                                    @onchange = @"form.submit()"
                                })
                            @*<select class="form-control" id="MA_DON_VI" name="MA_DON_VI" onchange="form.submit()"></select>*@
                        </div>
                    </div>
                </div>
            </div>
        }
    <div class="div-dstb">
        <div class="ds-tb">
            <table>
                <tr>
                    <th>Mã TB</th>
                    <th>Tên TB</th>
                    <th>Nhóm TB</th>
                    <th>Loại TB</th>
                    <th>Serial</th>
                    <th>Giá tiền</th>
                    <th>THBH</th>
                    <th>Tình trạng</th>
                    <th>ĐVQL</th>
                    <th>Người QL</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr class="tablinks" onclick="Edit(event, '@item.MATB')">
                        <td>
                            @Html.DisplayFor(modelItem => item.MATB)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TENTB)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LOAI_THIETBI.NHOM_THIETBI.TEN_NHOM)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LOAI_THIETBI.TEN_LOAI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SO_SERIAL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GIA_TIEN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.THOI_HAN_BAO_HANH)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TINH_TRANG)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DON_VI.TEN_DON_VI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NGUOI_DUNG.TEN_ND)
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div class="div-cauhinh d-none">
            <div class="cau-hinh">
                <span class="close-cauhinh">
                    <i class="far fa-times-circle fa-2x"></i>
                </span>
                <div class="img">
                    <div class="img-container">
                        <img id="img" alt="hinh-anh-thiet-bi" />
                    </div>
                    <input id="MATB" hidden />
                    <p class="ten-tb" id="TENTB"></p>
                    <input id="MA_LOAITB" hidden />
                    <input id="MA_NHOMTB" hidden />
                </div>
                <h4 class="sub-title">Thông số kỹ thuật</h4>
                <div class="div-thong-so">

                    <table>
                        <tr>
                            <td id="label1"></td>
                            <td id="thong_so1"></td>
                        </tr>
                        <tr>
                            <td id="label2"></td>
                            <td id="thong_so2"></td>
                        </tr>
                        <tr>
                            <td id="label3"></td>
                            <td id="thong_so3"></td>
                        </tr>
                        <tr>
                            <td id="label4"></td>
                            <td id="thong_so4"></td>
                        </tr>
                    </table>
                </div>

                <button id="chct" onclick="CAU_HINH_CHI_TIET()">Cấu hình chi tiết</button>
                <div class="xk-dc">
                    @using (Html.BeginForm("Index", "XuatKho", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <input class="ten-tb" id="MATB_XK" name="MATB_XK" hidden="hidden" />
                        <button>Xuất kho</button>
                    }
                    @using (Html.BeginForm("Index", "DieuChuyenThietBi", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <input class="ten-tb" id="MATB_DC" name="MATB_DC" hidden="hidden" />
                        <button>Điều chuyển</button>
                    }
                </div>
            </div>


        </div>
        <div class="cau-hinh-chi-tiet d-none">
            <span class="close-cauhinh">
                <i class="far fa-times-circle fa-2x"></i>
            </span>
            <div class="div-chct">
                <div class="chct">
                    <div class="img">
                        <div class="img-container">
                            <img id="img_ct" alt="hinh-anh-thiet-bi" />
                        </div>
                        <div class="small-container-div">
                            <div class="small-img-container">
                                <img id="img_ct1" alt="" onclick="CHANGE_IMG(this.src)">
                            </div>
                            <div class="small-img-container">
                                <img id="img_ct2" alt="" onclick="CHANGE_IMG(this.src)">
                            </div>
                            <div class="small-img-container">
                                <img id="img_ct3" alt="" onclick="CHANGE_IMG(this.src)">
                            </div>
                            <div class="small-img-container">
                                <img id="img_ct4" alt="" onclick="CHANGE_IMG(this.src)">
                            </div>
                            <div class="small -img-container">
                                <img id="img_ct5" alt="" onclick="CHANGE_IMG(this.src)">
                            </div>
                        </div>
                        <p class="ten-tb" id="TENTB_ct"></p>
                    </div>
                    <h4 class="sub-title">Thông số kỹ thuật</h4>
                    <div class="div-thong-so">
                        <table>
                            <tr>
                                <td id="label1_ct"></td>
                                <td id="thong_so1_ct"></td>
                            </tr>
                            <tr>
                                <td id="label2_ct"></td>
                                <td id="thong_so2_ct"></td>
                            </tr>
                            <tr>
                                <td id="label3_ct"></td>
                                <td id="thong_so3_ct"></td>
                            </tr>
                            <tr>
                                <td id="label4_ct"></td>
                                <td id="thong_so4_ct"></td>
                            </tr>
                            <tr id="more1">
                                <td id="label5_ct"></td>
                                <td id="thong_so5_ct"></td>
                            </tr>
                            <tr id="more2">
                                <td id="label6_ct"></td>
                                <td id="thong_so6_ct"></td>
                            </tr>
                        </table>
                        <div class="xk-dc d-none">
                            @using (Html.BeginForm("Index", "XuatKho", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <input class="ten-tb" id="MATB_XK_ct" name="MATB_XK_ct" hidden="hidden" />
                                <button>Xuất kho</button>
                            }
                            @using (Html.BeginForm("Index", "DieuChuyenThietBi", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <input class="ten-tb" id="MATB_DC_ct" name="MATB_DC_ct" hidden="hidden" />
                                <button>Điều chuyển</button>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </section>
</main>

<script type="text/javascript">
    //$(document).ready(function () {
    //    $.ajax({
    //        type: "GET",
    //        url: "/Script/get_NHOMTB",
    //        data: "{}",
    //        success: function (data) {
    //            var s = '<option value=""></option>';
    //            s += '<option value="' + 0 + '">' + "Tất cả" + '</option>';
    //            for (var i = 0; i < data.length; i++) {
    //                if (i == 0) {
                        
    //                }
    //                s += '<option value="' + data[i].MA_NHOMTB + '">' + data[i].TEN_NHOM + '</option>';
    //            }
    //            $("#MA_NHOMTB").html(s);
    //        }
    //    });
    //    $.ajax({
    //        type: "GET",
    //        url: "/Script/get_DON_VI",
    //        data: "{}",
    //        success: function (data) {
    //            var s = '<option value=""></option>';
    //            s += '<option value="' + 0 + '">' + "Tất cả" + '</option>';
    //            for (var i = 0; i < data.length; i++) {
    //                //if (i == 0) {
    //                //    s += '<option value="' + 0 + '">' + "Tất cả" + '</option>'
    //                //}
    //                s += '<option value="' + data[i].MA_DON_VI + '">' + data[i].TEN_DON_VI + '</option>';
    //            }
    //            $("#MA_DON_VI").html(s);
    //        }
    //    });
    //});
    //function FILL_LOAITB() {
    //    var nHOM_TB = $('#MA_NHOMTB').val();
    //    $.ajax({
    //        type: "GET",
    //        url: "/Script/get_LOAITB",
    //        data: { nHOM_TB: nHOM_TB },
    //        success: function (data) {
    //            $("#MA_LOAITB").html("");
    //            var options;
    //            for (var i = 0; i < data.length; i++) {
    //                if (i == 0) {
    //                    options += '<option value="' + "" + '">' + "Tất cả" + '</option>'
    //                }
    //                options += '<option value="' + data[i].MA_LOAITB + '">' + data[i].TEN_LOAI + '</option>';
    //            }
    //            $("#MA_LOAITB").html(options);
    //        }
    //    });
    //};

    function Edit(evt, row) {
        var i, tablinks;
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        evt.currentTarget.className += " active";

        $.ajax({
            type: "GET",
            url: "/Script/get_THONG_TIN_TB",
            data: { mATB: row },
            success: function (data) {
                $("#MATB_DC").val(row);
                $("#MATB_XK").val(row);
                $("#MATB_DC_ct").val(row);
                $("#MATB_XK_ct").val(row);

                $("#TENTB").html(data.TENTB);                                
                $("#TENTB_ct").html(data.TENTB);

                $("#MATB").val(row);
                $("#MA_LOAITB").val(data.MA_LOAITB);
                $("#MA_NHOMTB").val(data.MA_NHOMTB);

                var mA_NHOMTB = data.MA_NHOMTB;
                var mA_LOAITB = data.MA_LOAITB;
                $.ajax({
                    type: "POST",
                    url: "/Script/get_CAU_HINH",
                    data: { mA_LOAITB: mA_LOAITB },
                    success: function (data) {
                        if (mA_NHOMTB == "PC" || mA_NHOMTB == "LT") {
                            //Thông số kỹ thuật
                            document.getElementById("label1").innerHTML = "CPU:";
                            document.getElementById("label2").innerHTML = "RAM:";
                            document.getElementById("label3").innerHTML = "Màn hình:";
                            document.getElementById("label4").innerHTML = "Ổ cứng:";
                            $("#thong_so1").html(data.CPU);
                            $("#thong_so2").html(data.RAM);
                            $("#thong_so3").html(data.MAN_HINH);
                            $("#thong_so4").html(data.O_CUNG);
                        }
                        else if (mA_NHOMTB == "PR") {
                            //Thông số kỹ thuật
                            document.getElementById("label1").innerHTML = "Kích thước:";
                            document.getElementById("label2").innerHTML = "Loại mực:";
                            document.getElementById("label3").innerHTML = "Tốc độ:";
                            document.getElementById("label4").innerHTML = "Độ phân giải:";
                            $("#thong_so1").html(data.KICH_THUOC);
                            $("#thong_so2").html(data.LOAI_MUC);
                            $("#thong_so3").html(data.TOC_DO);
                            $("#thong_so4").html(data.DO_PHAN_GIAI);
                        }
                        else {
                            //Thông số kỹ thuật
                            document.getElementById("label1").innerHTML = "";
                            document.getElementById("label2").innerHTML = "";
                            document.getElementById("label3").innerHTML = "";
                            document.getElementById("label4").innerHTML = "";
                            $("#thong_so1").html("");
                            $("#thong_so2").html("");
                            $("#thong_so3").html("");
                            $("#thong_so4").html("");
                        }
                    }
                });                
            }
        });

        $.ajax({
                    type: "GET",
                    url: "/Script/get_HINH_ANH",
                    data: { mATB: row },
                    success: function (data) {
                        //Thông số kỹ thuật
                        var src = document.createAttribute("src");
                        var img = document.getElementById("img");

                        if (data != null) {
                            src.value = "Images/" + data.HINH1;
                        }
                        else {
                            src.value = "Images/alibaba";
                        }
                        img.setAttributeNode(src);
                    }
                });
    };

    function CAU_HINH_CHI_TIET()
    {
        var mATB = $('#MATB').val();
        var mA_NHOMTB = $('#MA_NHOMTB').val();
        var mA_LOAITB = $('#MA_LOAITB').val();
        $.ajax({
            type: "POST",
            url: "/Script/get_CAU_HINH",
            data: { mA_LOAITB: mA_LOAITB },
            success: function (data) {
                if (mA_NHOMTB == "PC" || mA_NHOMTB == "LT") {
                    //Thông số kỹ thuật chi tiết
                    document.getElementById("more1").hidden = false;
                    document.getElementById("more2").hidden = false;
                    document.getElementById("label1_ct").innerHTML = "CPU:";
                    document.getElementById("label2_ct").innerHTML = "RAM:";
                    document.getElementById("label3_ct").innerHTML = "Màn hình:";
                    document.getElementById("label4_ct").innerHTML = "Ổ cứng:";
                    document.getElementById("label5_ct").innerHTML = "VGA:";
                    document.getElementById("label6_ct").innerHTML = "Hệ điều hành:";
                    $("#thong_so1_ct").html(data.CPU);
                    $("#thong_so2_ct").html(data.RAM);
                    $("#thong_so3_ct").html(data.MAN_HINH);
                    $("#thong_so4_ct").html(data.O_CUNG);
                    $("#thong_so5_ct").html(data.VGA);
                    $("#thong_so6_ct").html(data.HDH);
                }
                else if (mA_NHOMTB == "PR") {
                    //Thông số kỹ thuật chi tiết
                    document.getElementById("label1_ct").innerHTML = "Kích thước:";
                    document.getElementById("label2_ct").innerHTML = "Loại mực:";
                    document.getElementById("label3_ct").innerHTML = "Tốc độ:";
                    document.getElementById("label4_ct").innerHTML = "Độ phân giải:";
                    document.getElementById("more1").hidden = true;
                    document.getElementById("more2").hidden = true;
                    $("#thong_so1_ct").html(data.KICH_THUOC);
                    $("#thong_so2_ct").html(data.LOAI_MUC);
                    $("#thong_so3_ct").html(data.TOC_DO);
                    $("#thong_so4_ct").html(data.DO_PHAN_GIAI);
                }
                else {
                    //Thông số kỹ thuật chi tiết
                    document.getElementById("label1_ct").innerHTML = "";
                    document.getElementById("label2_ct").innerHTML = "";
                    document.getElementById("label3_ct").innerHTML = "";
                    document.getElementById("label4_ct").innerHTML = "";
                    document.getElementById("more1").hidden = true;
                    document.getElementById("more2").hidden = true;
                    $("#thong_so1_ct").html("");
                    $("#thong_so2_ct").html("");
                    $("#thong_so3_ct").html("");
                    $("#thong_so4_ct").html("");
                }
            }
        });

        $.ajax({
            type: "GET",
            url: "/Script/get_HINH_ANH",
            data: { mATB: mATB },
            success: function (data) {
                //Thông số kỹ thuật chi tiết
                var img_ct = document.getElementById("img_ct");
                var img_ct1 = document.getElementById("img_ct1");
                var img_ct2 = document.getElementById("img_ct2");
                var img_ct3 = document.getElementById("img_ct3");
                var img_ct4 = document.getElementById("img_ct4");
                var img_ct5 = document.getElementById("img_ct5");

                var src_ct = document.createAttribute("src");
                var src_ct1 = document.createAttribute("src");
                var src_ct2 = document.createAttribute("src");
                var src_ct3 = document.createAttribute("src");
                var src_ct4 = document.createAttribute("src");
                var src_ct5 = document.createAttribute("src");

                if (data != null) {
                    src_ct.value = "Images/" + data.HINH1;
                    src_ct1.value = "Images/" + data.HINH1;
                    src_ct2.value = "Images/" + data.HINH2;
                    src_ct3.value = "Images/" + data.HINH3;
                    src_ct4.value = "Images/" + data.HINH4;
                    src_ct5.value = "Images/" + data.HINH5;
                }
                else {
                    src_ct.value = "Images/alibaba";
                    src_ct1.value = "Images/alibaba";
                    src_ct2.value = "Images/alibaba";
                    src_ct3.value = "Images/alibaba";
                    src_ct4.value = "Images/alibaba";
                    src_ct5.value = "Images/alibaba";
                }

                img_ct.setAttributeNode(src_ct);
                img_ct1.setAttributeNode(src_ct1);
                img_ct2.setAttributeNode(src_ct2);
                img_ct3.setAttributeNode(src_ct3);
                img_ct4.setAttributeNode(src_ct4);
                img_ct5.setAttributeNode(src_ct5);
            }
        });
    };

    function CHANGE_IMG(src) {
        document.getElementById("img_ct").src = src;
    };
</script>

